.navbar {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .2);
}

.btn {
    color: cornsilk;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .2);
}

.btnAddModal {
    border-radius: 10px;
}

th {
    color: white;
}

.card {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .2);
    border-radius: 10px;
}